.hidden {
  display: none;
}

#bgImg {
  background-image: none;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  color: aliceblue;
}

input{
  background: transparent;
  border: none;
  border-bottom: 3px solid#ffffff;
  padding: 5px;
  margin: 20px;
}

input:hover{
  transform:scale(1.1);
}

#content{
  margin: auto;
  text-align: center;
}

#todo-list{
  list-style-type: none;
}

#clock{
  font-size: 350%;
  margin-bottom: 40px;
}

#quote{
  position: fixed;
  text-align: center;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}

#weather{
  position: absolute;
  right: 3%;
  top: 3%;
}

li>button{
  background: transparent;
  color: red;
  border: none;
}